<div class="row">
    <div class="col s12 m12">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Resultados</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card" data-ng-repeat = "topico in Topico.resultados">
            <div class="card-content">
                <span class="card-title">{{topico.titulo}}</span>
                <p>{{topico.conteudo}}</p>
                <p align="right">{{topico.data.substring(0, 10)}}</p>
            </div>
            <div class="card-action" align="right">
                <a href="#!/topico/{{topico._id}}" class="black-text">Ver mais</a>
            </div>
        </div>
    </div>
</div>