<div class="row">
    <div class="col s12 m12">
        <div class="card white">
            <div class="card-content">
                <span class="card-title"><h4>Cadastrar tópico</h4></span>
                <div class="row">
                    <div class="input-field col s12">
                        <select data-ng-model = "Topico.topico.categoria">
                            <option value="" disabled selected>Escolha uma categoria</option>
                            <option data-ng-repeat="categoria in Topico.categorias" value="{{categoria.id}}">{{categoria.nome}}</option>
                        </select>
                        <!-- <label>Materialize Select</label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <input id="nome" type="text" class="validate" data-ng-model="Topico.topico.titulo">
                        <label for="nome">Título</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <textarea id="textarea1" class="materialize-textarea" placeholder="Escreva sua dúvida" data-ng-model="Topico.topico.conteudo"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-action" align="right">
                <a href="#!/experts-club" style="color: #000">Cancelar</a>
                <a href="" style="color: #000" data-ng-click="Topico.create(Topico.topico)">Cadastrar</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script>