<nav class="background-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center" style="margin-top: -1%"><img style="width: 100px; height:100px;" src="/assets/img/logo.png"></a>
        <!-- <a href="#" class="brand-logo center" style="top:7%"><img>Logo</a> -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title"><h4>Cadastre-se</h4></span>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="nome" type="text" class="validate" data-ng-model="Login.usuario.nome">
                            <label for="nome">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">contact_mail</i>
                            <input id="email" type="email" class="validate" data-ng-model="Login.usuario.email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="senha" type="password" class="validate" data-ng-model="Login.usuario.senha">
                            <label for="senha">Senha</label>
                        </div>
                    </div>
                </div>
                <div class="card-action" align="right">
                    <a href="#!/enquetes-adm" style="color: #000">Cancelar</a>
                    <a href="" style="color: #000" data-ng-click="Login.create(Login.usuario)">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</div>