<!--menu-->
<nav class="background-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center" style="margin-top: -1%"><img style="width: 100px; height:100px;" src="/assets/img/logo.png"></a>
        <!-- <a href="#" class="brand-logo center" style="top:7%"><img>Logo</a> -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s2 m2">
            <!--UTILIZADO PARA CENTRALIZAR O CAMPO DE LOGIN-->
        </div>
        <div class="col s12 m8">
            <div class="card card-center">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" data-ng-model="Login.form.email" type="email" class="validate" required>
                            <label for="first_name">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" data-ng-model="Login.form.senha" type="password" class="validate" required>
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input id="login" type="submit" value="Entrar" class="btn waves-effect waves-light" style="width:100%; background-color: #b71c1c" " data-ng-click="Login.login(Login.form)">
                        </div>
                        <div class="input-field col s12 m12">
                            <button class="btn waves-effect waves-light" style="width:100%; background-color: #000" name="action">
                                <a href="#!/cadastro" style="color: #fff">Cadastrar</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2 m2">
            <!--UTILIZADO PARA CENTRALIZAR O CAMPO DE LOGIN-->
        </div>
    </div>
</div>