<nav id="menu" class="background-nav" data-ng-if="logado">
    <div class="nav-wrapper">
        <a href="#!/enquetes" class="brand-logo right">
            <img src="../assets/img/logo.png" style="margin-top: -15%; width: 100px; height:100px;">
        </a>
        <!--BOTÃO QUE IRÁ APARECER QUANDO ESTIVER NUM TAMANHO DE TELA MENOR-->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <!--MENU QUE APARECE QUANDO TEMOS UMA RESOLUÇÃO NORMAL-->
        <!-- <ul class="right hide-on-med-and-down">
            <li><a href="#!/login" data-ng-click="Login.sair()">Sair</a></li>
        </ul> -->
        <!---MENU QUE FICA ESCONDIDO E É ACIONADO PELO BOTÃO QUANDO TEMOS UMA RESOLUÇÃO PEQUENA-->
    </div>
</nav>
<ul class="side-nav fixed background-nav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <!-- <img src="../assets/img/logo.png"> -->
            </div>
            <!-- <img style="width: 120px; height: 240px" src="../assets/img/logo.png"> -->
            <a href="#!/alterar-dados"><span class="white-text name">{{nome}}</span></a>
            <a href="#!/alterar-dados"><span class="white-text email">{{email}}</span></a>
        </div>
    </li>
    <li data-ng-if="logado"><a href="#!/experts-club" class="white-text">Início</a></li>
    <li data-ng-if="logado"><a href="#!/buscar" class="white-text">Buscar</a></li>
    <li data-ng-if="logado"><a href="#!/cadastrar-topico" class="white-text">Cadastrar novo tópico</a></li>
    <li data-ng-if="logado" data-ng-repeat="categoria in Login.categorias"><a href="#!/topicos/{{categoria.id}}" class="white-text">{{categoria.nome}}</a></li>
    <li data-ng-if="logado"><a href="#!/login" class="white-text" data-ng-click="Login.sair()">Sair</a></li>
</ul>
<script type="text/javascript">
$(document).ready(function() {
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $(".modal").modal('open');
    $(".modal").modal('close');
    $(".modal").modal();
    $('select').material_select();
    $('.dropdown-button').dropdown();
});
</script>