<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{TopicoDetail.topico.titulo}}</span>
                <p>{{TopicoDetail.topico.conteudo}}</p>
                <p align="right">{{TopicoDetail.topico.data.substring(0, 10)}}</p>
            </div>
            <textarea id="textarea1" class="materialize-textarea" placeholder="Deixe sua resposta" data-ng-model="TopicoDetail.resposta" ></textarea>
            <div class="card-action" align="right">
                <a href="" class="black-text" data-ng-click="TopicoDetail.responder(TopicoDetail.resposta, TopicoDetail.topico._id)">Responder</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div class="card" data-ng-repeat="resposta in TopicoDetail.respostas">
            <div class="card-content">
                <!-- <span class="card-title">{{resposta.usuario}}</span> -->
                <p>{{resposta.conteudo}}</p>
                <p align="right">{{resposta.data.substring(0, 10)}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Tópicos sugeridos</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card" data-ng-repeat = "topico in TopicoDetail.topicos">
            <div class="card-content">
                <span class="card-title">{{topico.titulo}}</span>
                <p>{{topico.conteudo}}</p>
                <p align="right">{{topico.data.substring(0, 10)}}</p>
            </div>
            <div class="card-action" align="right">
                <a href="#!/topico/{{topico._id}}" class="black-text">Ver mais</a>
            </div>
        </div>
    </div>
</div>