header,
main,
footer, body{
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer, body {
        padding-left: 0;
    }
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.background-nav {
    background-color: #b71c1c;
}

.card-center {
    top: 100px;
}